* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.addTask__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  display: flex;
  margin: 0 auto;
  padding: 6px 12px;
  background-color: #1a1a1a;
  color: whitesmoke;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: border-color 0.25s;
}
.button:hover {
  border: 1px solid #747bff;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}